.button-clear {
  height: 70px;
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #ac0246;
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
}

.button-clear:hover {
  background: #ebb000;
}